body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding: 50px;
  margin: 0;
  text-align: center;
  background-color: #81A3A7;
}

.flexHeader {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

a {
  color: black;
}

body select {
  padding: 10px 70px 10px 13px;
  width: 70%;
  height: 50%;
  border: 1px solid #e3e3e3;
  border-radius: 3px;
  background: url("https://i.ibb.co/b7xjLrB/selectbox-arrow.png") right center no-repeat;
  background-color: #585A56;
  color: black;
  line-height: 16px;
  appearance: none;
  /* this is must */ -webkit-appearance: none;
  -moz-appearance: none;
}

/* body select.select_box option */
body select option {
  padding: 0 4px;
}

/* for Edge */
select::-ms-expand {
  display: none;
}

select:disabled::-ms-expand {
  background: #f60;
}
